affine==2.4.0
asgiref==3.11.0
attrs==25.4.0
certifi==2026.2.25
click==8.3.1
cligj==0.7.2
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
numpy==2.4.2
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.10.1
pyparsing==3.3.2
rasterio==1.5.0
sqlparse==0.5.5
